/*CSS */

*{
	-webkit-box-sizing:border-box;
	 -moz-box-sizing: border-box;
	 -ms-box-sizing: border-box;
	box-sizing: border-box;
}

img, embed, object, video {
	max-width: 100%;
}

nav a, button {
	min-width: 48px;
	min-height: 48px;
}

@media screen and (max-width: 470px) {
	#title {
		display: none;
	}
	.flex-containerST {
		display: none;
	}
	.flex-containerST-tab {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	#subtitle-tab {
		color: #505A5B;
		font-size: 1.5em;
		margin: .5em 0 .5em 0;
	}
	#logo-desk {
		display: none;
	}
	#logo-mobile {
		max-height: 100px;
	}
	#form-large {
		display: none;
	}
	.grid {
		text-align: center;
	}
	#desk-special {
		display: none;
	}
	.grid-2 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
	}
}

@media screen and (min-width: 471px) {
	header {
		height: 100vh;
		background-color: #505A5B;
	}

	.flex-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.flex-containerT {
		height: 50%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

	.flex-containerST {
		display: none;
	}

	#title {
		font-family: 'Ubuntu', sans-serif;
		font-size: 3em;
		margin: .5em 0 0 0;
		color: #FFFFFF;
		text-align: center;
	}

	#subtitle {
		margin: 0;
		font-size: 1.5em;
		color: #FFFFFF;
		padding: .5em 0 0 5em;
	}

	#logo-mobile {
		display: none;
	}
	#logo-desk {
		align-self: center;
		margin-left: auto;
		margin-right: auto;
	}
	.grid-1 {
		height: 100vh;
	}
	.special {
		height: 25vh;
	}

	#about {
		padding: 0 3.5em 0 3.5em;
		height: 75vh;
	}

	#mobile-special {
		display: none;
	}

	#form-small {
		display: none;
	}
	#form-large,
	#textarea {
		text-align: center;
	}

	.grid-2 {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		text-align: center;
	}

	#special {
		padding-left: 3.5em;
	}

	#name {
		min-width: 220px;
		margin: 0 3px 3px 0;
	}
	#company-name {
		min-width: 220px;
		margin: 0 0 3px 3px;
	}
	#email {
		min-width: 220px;
		margin: 3px 3px 3px 0;
	}
	#budget {
		min-width: 220px;
		margin: 3px 0 3px 3px;
	}
	#description {
		margin-top: 3px;
		min-width: 450px;
		min-height: 400px;
	}
	#contact {
		padding: 0 3.5em 0 3.5em;
	}
}

@media screen and (min-width: 471px) and (max-width: 1000px) {
	#title {
		display: none;
	}
	.flexcontainerST {
		display: none;
	}
	.grid {
		height: 65vh;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	.flex-containerST-tab {
		height: 20vh;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	#subtitle-tab {
		margin: 0;
		font-size: 1.5em;
		color: #FFFFFF;
		padding: .5em 0 0 0;
	}

	.grid-3 {
		height: 15vh;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
}

@media screen and (min-width: 1001px) {
	.flex-containerST {
		height: 50%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	.grid {
		display: grid;
		grid-template-columns: 3fr 4fr;
		height: 93vh;
	}
	.flex-containerST-tab {
		display: none;
	}
	#logo-desk {
		padding-left: 1em;
	}
	#about-title {
		font-size: 3em;
	}
	#about-p {
		font-size: 1.5em;
		line-height: 1.5;
		color: #505A5B;
	}
}

@media screen and (min-width: 1251px) {
	#titles {
		padding-right: 4em;
	}
	#title {
		font-size: 4em;
	}
	#logo-desk {
		padding-left: 4em;
	}
	#line-break {
		max-width: 95%;
		margin: .5em auto .5em auto;
	}
	#subtitle {
		font-size: 2em;
		padding: .5em 0 0 7em;
	}
}

body {
	margin: 0 0 0 0;
}

.grid-2 > div {
	min-height: 50px;
}

p,
h3,
h6 {
	font-family: 'Open Sans', sans-serif;
	color: #505A5B;
}

h1,
h2 {
	color: #505A5B;
	font-family: 'Ubuntu', sans-serif;
}

img {
	min-width: 335px;
	max-width: 600px;
}

.grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
	background-color: #505A5B;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-width: 48px;
}

li {
	min-height: 7vh;
	line-height: 40px;
	border-style: solid;
	border-width: .2em;
	border-color: #FFFFFF;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 1.1em;
}

a {
	display: block;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 1.1em;
}

#pimagewrap {
	text-align: center;
}

#primary-image {
	max-height: 300px;
	max-width: 300px;
	padding: 5% 5% 0 5%;
}

#logo-desk {
	height: 200px;

}

#icons {
	text-align: center;
	padding: 1.5em;
	word-spacing: 2em;
}

#python {
	color: #4584b6;
}

#html5 {
	color: #F06529;
}

#css {
	color: #4584B6;
}

#JS {
	color: #F7DF1E;
}

#wordpress {
	color: #21759B;
}

#ai {
		color: #F06529;
}
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
